body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  width: 100%;
  background-color: #ab8f8f;
  position: sticky;
  top: 0;
  z-index: 10;
  .container {
    .collapse {
      justify-content: flex-end;
    }
    .navbar-nav {
      margin-right: 0 !important;
    }
    nav {
      background-color: #ab8f8f !important;

      a {
        font-weight: bold;
        color: black;
        text-decoration: none;
      }
      a.nav-link {
        margin: 0 5px 0 5px;
        width: 120px;
        height: 40px;
        background: #c4c4c4;
        border: none;
        border-radius: 20px;
        text-align: center;
        color: rgb(138, 14, 14);
      }
      a.nav-link:hover {
        background-color: rgb(138, 14, 14);
        transition: 0.5s;
        color: #c4c4c4;
      }
      #basic-nav-dropdown {
        background-color: rgb(138, 14, 14);
        color: #c4c4c4;
      }
      #basic-nav-dropdown:hover {
        background: #c4c4c4;
        transition: 0.5s;
        color: rgb(138, 14, 14);
      }
    }
    input {
      border-radius: 20px;
    }
    input:target {
      border: 0;
    }
    .form-control:focus {
      border-color: rgb(138, 14, 14);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(255, 0, 0, 0.6);
    }
    .hideSearch {
      opacity: 0;
    }
    .showSearch {
      opacity: 1;
      transition: 1s;
    }
    .dropdown-menu {
      border-radius: 20px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border: 0;
      background-color: #ab8f8f;
    }
    .dropdown-item {
      background: #c4c4c4;
      margin-top: 5px;
      margin-bottom: 5px;
      border-radius: 20px;
      color: rgb(138, 14, 14);
      text-align: center;
      width: 120px;
      margin-left: 15%;
    }
    .dropdown-item:hover {
      background: rgb(138, 14, 14);
      color: #c4c4c4;
      transition: 0.5s;
    }
  }
  @media only screen and (max-width: 991px) {
    a.nav-link {
      margin-top: 5px !important;
      margin-bottom: 5px !important;
    }
  }
  @media only screen and (max-width: 300px) {
    a.nav-link,
    input {
      height: 25px !important;
    }
  }
}

.slider {
  width: 50%;
  padding: 10px 0 0 0;
  z-index: 2;
  .slider-inside {
    display: flex !important;
    height: 300px;
    margin: 0 15px 0 15px;
  }
  .book-info-slide {
    margin-right: auto;
    margin-left: 15px;
    display: inline-block;
    vertical-align: middle;
  }
  img {
    width: 250px;
    margin-left: auto;
  }
  button {
    background-color: black;
  }
  .price,
  .author,
  .category,
  .name {
    font-weight: bold;
  }
}

@media only screen and (max-width: 991px) {
  .slider {
    position: static;
    width: 100%;

    padding-top: 5px;
    .book-info-slide {
      background-color: #ab8f8f81;
      border: 1px solid black;
      color: black;
      width: 250px;
      margin-left: auto;
      margin-right: auto;
      .price {
        font-weight: bold;
      }
    }
    .slider-inside {
      flex-direction: column;
      height: 400px;
      margin: 0;
    }
    .slick-next {
      margin-right: 20px;
    }
    .slick-prev {
      margin-left: 20px;
      z-index: 100;
    }
  }
  h3 {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
  }
  img {
    margin-left: auto;
    margin-right: auto;
  }

  .slick-dots {
    visibility: hidden;
  }
  .girl {
    visibility: hidden;
  }
}

.home-page {
  height: 89.5vh;
  background: url("../assets/Background.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wrapper {
  margin-top: 25px;
  display: flex;

  .sideMenu {
    margin-top: 15px;
    margin-right: 10px;
    text-align: center;
    padding: 0;
  }

  a {
    border-left: hidden;
    border-right: hidden;
  }
  @media only screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.books {
  margin: 10px 0 10px 0;
  .dropdown {
    display: flex;
    flex-direction: row-reverse;
  }
  img {
    width: 100%;
  }
  .columna {
    margin: 5px 0 5px 0;
    transition: 0.5s;
  }
  .columna:hover {
    box-shadow: 0px 1px 3px 0px rgba(128, 128, 128, 1);
    cursor: pointer;
  }
  .price,
  .name {
    font-weight: bold;
  }
  span,
  .name {
    padding-left: 10px;
    padding-top: 10px;
  }
  @media only screen and (max-width: 767px) {
    .columna {
      width: fit-content;
    }
  }
}

.selected-book {
  margin-top: 20px;
  text-align: center;
  .row {
    display: inline-block;
  }
  .book-info {
    width: 350px;
    text-align: justify;
  }
}

.footer {
  text-align: center;
  background: #ab8f8f;
  box-shadow: 0px 1px 3px 0px rgba(128, 128, 128, 1);
  div {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 300px) {
  * {
    font-size: 11px;
  }
}
