body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  font-family: cursive;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(128, 128, 128, 1);
  -moz-box-shadow: 0px 1px 3px 0px rgba(128, 128, 128, 1);
  box-shadow: 0px 1px 3px 0px rgba(128, 128, 128, 1);
  .form {
    padding: 0;
  }
  .brandName {
    padding-left: 10px;
  }
  input {
    border-radius: 20px;
  }
  button {
    border-radius: 20px;
    background-color: grey;
    color: white;
  }
  form {
    float: right;
  }
  @media only screen and (max-width: 992px) {
    font-family: Arial, Helvetica, sans-serif;
    form {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      input {
        width: 75%;
        order: 2;
      }
      button {
        order: 1;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    font-family: Arial, Helvetica, sans-serif;
    form {
      width: 100%;

      input {
        width: 55% !important;
      }
    }
  }
}

.nav-border {
  button {
    background-color: grey;
    color: white;
    visibility: hidden;
  }
  font-family: cursive;
  box-shadow: 0px 1px 3px 0px rgba(128, 128, 128, 1);
  a {
    color: black;
  }
  a:hover {
    border-right: 1px solid blue;
    border-left: 1px solid blue;
  }
  .menuDivBtn {
    height: 0;
    width: 0;
  }
}
@media only screen and (max-width: 991px) {
  .nav-border {
    font-family: Arial, Helvetica, sans-serif;
    .columna {
      padding: 0;
    }
    button {
      visibility: visible;
      margin: 10px 10px 10px 0;
      float: right;
    }
    .menuDivBtn {
      height: auto;
      width: auto;
    }
    ol {
      width: 100%;
    }
    ul {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
    .container {
      padding: 0;
      box-shadow: 0px 1px 3px 0px rgba(128, 128, 128, 1);
    }
    .row {
      margin: 0;
    }
    .showNav {
      width: 100% !important;
    }
    .changeW {
      padding: 0;
      width: 100% !important;
    }
    .hideNav {
      width: 0;
      height: 0;
      visibility: hidden;
      ul {
        width: 0;
        height: 0;
      }
    }
    a {
      box-shadow: 0px 1px 0px 0px rgba(128, 128, 128, 1);
      border-radius: 0 !important;
    }
    a:hover {
      border: 0px;
    }
  }
}

.wrapper {
  margin-top: 25px;
  .container {
    display: flex;

    @media only screen and (max-width: 767px) {
      flex-direction: column;
    }
  }
}

.sideMenu {
  margin: 15px 0 0 0;
  padding-left: 10px;
  text-align: center;

  a {
    border-left: hidden;
    border-right: hidden;
  }
}

.books {
  margin: 10px 0 10px 0;
  .dropdown {
    display: flex;
    flex-direction: row-reverse;
  }
  img {
    width: 100%;
  }
  .columna {
    margin: 5px 0 5px 0;
    transition: 0.5s;
  }
  .columna:hover {
    box-shadow: 0px 1px 3px 0px rgba(128, 128, 128, 1);
    cursor: pointer;
  }
  .price,
  .name {
    font-weight: bold;
  }
  span,
  .name {
    padding-left: 10px;
    padding-top: 10px;
  }
  @media only screen and (max-width: 767px) {
    .columna {
      max-width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.footer {
  text-align: center;
  background-color: honeydew;
  box-shadow: 0px 1px 3px 0px rgba(128, 128, 128, 1);
}
@media only screen and (max-width: 300px) {
  * {
    font-size: 11px;
  }
}
