body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Header {
  position: sticky;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100px;
  background: #ab8f8f;
  .right {
    display: flex;
    flex-direction: column-reverse;
  }
  .right-reverse {
    flex-direction: column;
  }

  form {
    width: 100%;
    visibility: hidden;
    input {
      width: 100%;
      border-radius: 20px;
    }
  }
  .Logo {
    display: flex;
    color: black;
    text-decoration: none;
    margin-top: 20px;
    .Brand-name {
      height: 20px;
      margin-top: 40px;
      font-weight: bold;
    }
  }
  .Navigation {
    height: 50px;
    margin: 10px 0 0 0;
    display: flex;
  }
  .hide {
    visibility: hidden;
  }
  .show {
    visibility: visible;
  }

  ul {
    img {
      height: 30px;
      margin: 5px 5px 0 5px;
    }
    ol {
      margin: 0 5px 0 5px;
      width: 120px;
      height: 40px;
      background: #c4c4c4;
      border: none;
      border-radius: 20px;
      font-weight: bold;
      cursor: pointer;
      text-align: center;
      padding-top: 7px;
    }
    .Button {
      padding: 0;
    }
    .Button:hover {
      background-color: rgb(138, 14, 14);

      .Home,
      .Books {
        transition: 0.5s;
        color: #c4c4c4;
      }
    }
    .Button-sign:hover {
      background-color: #c4c4c4;
      .Sign {
        transition: 0.5s;
        color: rgb(138, 14, 14);
      }
    }
    .Home,
    .Books {
      color: rgb(138, 14, 14);
      text-decoration: none;
    }
    .Button-sign {
      background: rgb(138, 14, 14);
    }
    .Sign {
      color: white;
      text-decoration: none;
      border-radius: 20px;
      padding: 0;
    }
  }
}

.nav-border {
  button {
    background-color: grey;
    color: white;
    visibility: hidden;
  }
  font-family: cursive;
  box-shadow: 0px 1px 3px 0px rgba(128, 128, 128, 1);
  a {
    color: black;
  }
  a:hover {
    border-right: 1px solid blue;
    border-left: 1px solid blue;
  }
  .menuDivBtn {
    height: 0;
    width: 0;
  }
}
@media only screen and (max-width: 991px) {
  .nav-border {
    font-family: Arial, Helvetica, sans-serif;
    .columna {
      padding: 0;
    }
    button {
      visibility: visible;
      margin: 10px 10px 10px 0;
      float: right;
    }
    .menuDivBtn {
      height: auto;
      width: auto;
    }
    ol {
      width: 100%;
    }
    ul {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
    .container {
      padding: 0;
      box-shadow: 0px 1px 3px 0px rgba(128, 128, 128, 1);
    }
    .row {
      margin: 0;
    }
    .showNav {
      width: 100% !important;
    }
    .changeW {
      padding: 0;
      width: 100% !important;
    }
    .hideNav {
      width: 0;
      height: 0;
      visibility: hidden;
      ul {
        width: 0;
        height: 0;
      }
    }
    a {
      box-shadow: 0px 1px 0px 0px rgba(128, 128, 128, 1);
      border-radius: 0 !important;
    }
    a:hover {
      border: 0px;
    }
  }
}

.wrapper {
  margin-top: 25px;
  display: flex;

  .sideMenu {
    margin-top: 15px;
    margin-right: 10px;
    text-align: center;
    padding: 0;
  }

  a {
    border-left: hidden;
    border-right: hidden;
  }
  @media only screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.books {
  margin: 10px 0 10px 0;
  .dropdown {
    display: flex;
    flex-direction: row-reverse;
  }
  img {
    width: 100%;
  }
  .columna {
    margin: 5px 0 5px 0;
    transition: 0.5s;
  }
  .columna:hover {
    box-shadow: 0px 1px 3px 0px rgba(128, 128, 128, 1);
    cursor: pointer;
  }
  .price,
  .name {
    font-weight: bold;
  }
  span,
  .name {
    padding-left: 10px;
    padding-top: 10px;
  }
  @media only screen and (max-width: 767px) {
    .columna {
      width: fit-content;
    }
  }
}

.selected-book {
  margin-top: 20px;
  text-align: center;
  .row {
    display: inline-block;
  }
  .book-info {
    width: 350px;
    text-align: justify;
  }
}

.footer {
  text-align: center;
  background: #ab8f8f;
  box-shadow: 0px 1px 3px 0px rgba(128, 128, 128, 1);
}
@media only screen and (max-width: 300px) {
  * {
    font-size: 11px;
  }
}

.Home-page {
  background-image: url("../assets/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
